<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{video.0}">
        <video controls preload="none" {f:if(condition:'{poster.0}', then:'poster="{poster.0.publicUrl}"')}>
            <source src="{video.0.publicUrl}" type="video/mp4">
        </video>
    </f:if>

    <f:if condition="{data.bodytext}">
        <f:format.html>{data.bodytext}</f:format.html>
    </f:if>
</f:section>
</html>

